<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        <div class="container">
            <div class="row">
                <h3><a href="https://www.airmeet.com/e/3124e6e0-8b3d-11eb-adfc-b1c12ad96800" target="_blank">Registration to the BioC2021 virtual conference is now open!</a></h3>
                <!-- <p class="text-primary text-large mb-small text-left">
                    </b>. 
                </p> -->
            </div>
            <div class="row">
                <table style="width:100%">
                    <tr>
                        <th>Key dates</th>
                        <th>Tweets by <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a></th>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <!--<li><b>January 22, 2021</b>: Call for abstracts opens</li>
                                <li><b>New! Deadline extended. <strike>March 9</strike> March 16, 2021</b>: Abstract submission closes</li>
                                <li>Abstract submission is now closed</li>
                                <li><b>April 16, 2021</b>: Notification of decision</li>-->
                                <li><a href="https://www.airmeet.com/e/3124e6e0-8b3d-11eb-adfc-b1c12ad96800" target="_blank">Registration to the BioC2021 virtual conference</a> is now open! See <a href="https://bioc2021.bioconductor.org/registration/">Registration</a> for more details. </li>
                                <!--<li><a href="https://bioconductor.org/about/awards/" target="blank">Bioconductor Award Nominations</a> now open. Deadline for nominations: May 31, 2021.</li>-->
                                <li><b>August 4-6, 2021</b>: The BioC2021 virtual conference.</li>
                            </ul>
                        </td>
                        <td>
                            <a class="twitter-timeline" data-height="200" href="https://twitter.com/Bioconductor?ref_src=twsrc%5Etfw">Tweets by Bioconductor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </td>
                    </tr>
                </table>

                </p>
        </div>
        </div>


        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "speakers.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
