<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        <div class="container">
            <div class="row">
                <h1>Conference dates</h1>
                <p class="text-primary text-large mb-small text-left">
                    The BioC2021 conference will take place <b>August 4-6, 2021</b>.
                </p>
            </div>
            <div class="row">
                <h1>Call for submissions</h1>
                <p class="text-primary text-large mb-small text-left">
                    <a href="https://openreview.net/group?id=bioconductor.org/BioC/2021/Conference">Submission is open</a>
                    <ul>
                        <li><b>January 22, 2021</b>: Call for abstracts opens</li>
                        <li><b>March 9, 2021</b>: Abstract submission closes</li>
                        <li><b>April 16, 2021</b>: Notification of decision</li>
                    </ul>
                </p>
        </div>
        </div>

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "speakers.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
