<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        <div class="container">
            <div class="row">
                <h3><a href="https://www.airmeet.com/e/3124e6e0-8b3d-11eb-adfc-b1c12ad96800" target="_blank">Registration to the BioC2021 virtual conference is now open!</a></h3>
                <!-- <p class="text-primary text-large mb-small text-left">
                    </b>. 
                </p> -->
            </div>
            <div class="row">
                <h1>Key dates</h1>
                <!-- <p class="text-primary text-large mb-small text-left">
                    <a href="https://openreview.net/group?id=bioconductor.org/BioC/2021/Conference">Submission is open</a> -->
                    <ul>
                        <!--<li><b>January 22, 2021</b>: Call for abstracts opens</li>
                        <li><b>New! Deadline extended. <strike>March 9</strike> March 16, 2021</b>: Abstract submission closes</li>-->
                        <li>Abstract submission is now closed</li>
                        <li><b>April 16, 2021</b>: Notification of decision</li>
                        <li><b>August 4-6, 2021</b>: The BioC2021 virtual conference</li>
                    </ul>
                </p>
        </div>
        </div>

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "speakers.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
